APP_PORT=
APP_HOST=
MONGO_DB=

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRATION = 
JWT_REFRESH_EXPIRATION = 


MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET_NAME=
MINIO_ENDPOINT=
MINIO_PORT=